body{
    color: #434455;
    background-color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
}
.logo{
    color: #4D5AE5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.logo-studio{
    color: #2E2F42;
}
.menu{
    color: #2E2F42;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
}
.menu:active{
    color: #404BBF;
}
.menu:focus{
    color: #404BBF;
}
.menu:hover{
    color: #404BBF;
}
.contact{
font-style: normal;
}
.contact-link{
    color: #434455;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.contact-link:active{
    color: #404BBF;
}
.contact-link:hover{
    color: #404BBF;
}
.contact-link:focus{
    color: #404BBF;
}
.page-sectio{
    background: #2E2F42;
}
.page-title{
    color: #FFFfff;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
}
.btn{
    color: #FFFfff;
    cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
            background: #4D5AE5;
}
.btn:hover{
        background: #404BBF;
}
.btn:focus{
    background: #404BBF;
}
.title{
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
}
.text{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.title-our-team{
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}
.our-team-item{
    background: #FFFfff;
}
.section-our-team{
    background: #F4F4FD;
}
.our-portfolio-item{
    background: #FFFfff;
}
.title-our-portfolio{
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}
.footer-logo{
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.footer-logo-studio{
color: #F4F4FD;
}
footer .text{
color: #F4F4FD;
}
.footer-box{
    background-color: #2E2F42;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}